<div class="right-sidebar">
    <div class="right-sidebar__wrapper">
        <div class="widget">
            <div class="form-search">
                <form action="#" class="form-search" method="get" enctype="application/x-www-form-urlencoded">
                    <div class="form-row">
                        <input type="text" name="q" class="input-text search-input" placeholder="Поиск по сайту">
                        <button class="btn btn-search">Поиск</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="widget">
            <h4 class="widget-title">Список категорий</h4>
            <ul class="category-list">
                <li class="category-list__item"><a href="#" class="category-list__link">Новости</a></li>
                <li class="category-list__item"><a href="#" class="category-list__link">Услуги</a></li>
                <li class="category-list__item"><a href="#" class="category-list__link">Интернет</a></li>
                <li class="category-list__item"><a href="#" class="category-list__link">SMM</a></li>
                <li class="category-list__item"><a href="#" class="category-list__link">Маркетинг</a></li>
                <li class="category-list__item"><a href="#" class="category-list__link">Разработка</a></li>
                <li class="category-list__item"><a href="#" class="category-list__link">Презентации</a></li>
            </ul>
        </div>
    </div>
</div>